{% extends 'main.html.twig' %}
{% set titre = 'Administration' %}
{% block main_content %}
<div class="ui top attached tabular menu">
    <a class="active item" data-tab="dashboard">Tableau de bord</a>
    <a class="item" data-tab="ajout_benevole">Bénévoles</a>
    <a class="item" data-tab="familles">Familles</a>
    <a class="item" data-tab="manuels">Manuels</a>
    <a class="item" data-tab="parametres">Paramètres</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="dashboard">
    <a class="ui ribbon label">Dépôts et stocks</a>
    <p>
        <div class="ui header">
            <div class="content">
                Exemplaires déposés :
                <span class="sub header" id="exemplaires_deposes"></span>
            </div>
        </div>
        <div class="ui header">
            <div class="content">
                Exemplaires vendus :
                <span class="sub header" id="exemplaires_vendus"></span>
            </div>
        </div>
        <div class="ui header">
            <div class="content">
                Exemplaires rendus :
                <span class="sub header" id="exemplaires_rendus"></span>
            </div>
        </div>
        <div class="ui header">
            <div class="content">
                Exemplaires en stock :
                <span class="sub header" id="exemplaires_stock"></span>
            </div>
        </div>
    </p>
    <a class="ui ribbon label">Familles et dossiers</a>
    <p>
        <div class="ui header">
            <div class="content">
                Familles dans la base :
                <span class="sub header" id="nb_familles"></span>
            </div>
        </div>
        <div class="ui header">
            <div class="content">
                Familles ayant déposées :
                <span class="sub header" id="nb_familles_depot"></span>
            </div>
        </div>
        <div class="ui header">
            <div class="content">
                Familles ayant achetées :
                <span class="sub header" id="nb_familles_achat"></span>
            </div>
        </div>
    </p>
    <a class="ui ribbon label">Montants</a>
    <p>
        <div class="ui header">
            <div class="content">
                Valeur des livres déposés :
                <span class="sub header" id="total_livres_deposes"></span>
            </div>
        </div>
        <div class="ui header">
            <div class="content">
                Valeur des livres vendus :
                <span class="sub header" id="total_livres_vendus"></span>
            </div>
        </div>
        <div class="ui header">
            <div class="content">
                Valeur des paiements :
                <span class="sub header" id="total_paiements"></span>
            </div>
        </div>
    </p>
</div>
<div class="ui bottom attached tab segment" data-tab="ajout_benevole">
    <div class="ui two column centered grid">
        <div class="column">
            <h3 class="ui top attached header">
                Ajouter un bénévole
            </h3>
            <form id="ajout_benevole_form" method="post" action="#" class="ui fluid form error attached segment">
                <div class="field">
                    <label>Utilisateur</label>
                    <input placeholder="Utilisateur" type="text" name="nom" id="ajout_benevole_utilisateur" required>
                </div>
                <div class="field">
                    <label>Mot de passe</label>
                    <input placeholder="Mot de passe" type="password" id="ajout_benevole_password" required>
                </div>
                <button class="ui submit button"><i class="add user icon"></i>Créer le compte</button>
            </form>
        </div>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="familles">
    <a class="ui ribbon label">Exporter les familles</a>
    <p>
        <a href="/export/famille"><button class="ui button" id="exporter_famille"><i class="download icon"></i>Exporter</button></a>
    </p>
    <a class="ui ribbon label">Importer des familles</a>
    <p>
        <form class="ui form" enctype="multipart/form-data" method="post" action="/import/famille">
            <div class="four wide field">
                <input type="file" accept=".csv" name="csv" required>
            </div>
            <button type="submit" class="ui button"><i class="upload icon"></i>Importer</button>
        </form>
    </p>
</div>
<div class="ui bottom attached tab segment" data-tab="manuels">
    <a class="ui ribbon label">Chercher un manuel</a>
    <p>
        <div class="ui form">
            <div class="fields">
                <div class="four wide field">
                    <label>Code manuel</label>
                    <input type="text" placeholder="Code manuel" id="rechercher_manuel_isbn">
                </div>
                <div class="seven wide field">
                    <label>Titre</label>
                    <input type="text" placeholder="Titre" id="rechercher_manuel_titre">
                </div>
            </div>
        </div>
        <button class="ui button" id="button_rechercher_manuel"><i class="search icon"></i> Rechercher</button>
        <button class="ui button" id="button_ajouter_manuel"><i class="plus icon"></i>Ajouter un nouveau manuel</button>
        
    </p>
    <div id="recherche_manuel" style="display:none">
        <a class="ui ribbon label">Résultat de recherche</a>
        <div class="content" style="margin-top: 10px">
                
        </div>
    </div>
    <div id="ajouter_manuel" style="display:none">
        <a class="ui ribbon label">Ajouter un manuel</a>
        <p>
            <form class="ui form" id="form_ajouter_manuel">
                <div class="fields">
                    <div class="four wide field">
                        <label>Code manuel</label>
                        <input type="text" placeholder="Code manuel" id="ajouter_manuel_isbn">
                    </div>
                    <div class="four wide field">
                        <label>Tarif neuf</label>
                        <input type="number" step="0.01" placeholder="Tarif neuf" id="ajouter_manuel_tarif">
                    </div>
                </div>
                <div class="field">
                    <label>Titre</label>
                    <input type="text" placeholder="Titre" id="ajouter_manuel_titre">
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <label>Matière</label>
                        <input type="text" placeholder="Matière" id="ajouter_manuel_matiere">
                    </div>
                    <div class="four wide field">
                        <label>Classe</label>
                        <input type="text" placeholder="Classe" id="ajouter_manuel_classe">
                    </div>
                </div>
                <div class="fields">
                    <div class="seven wide field">
                        <label>Editeur</label>
                        <input type="text" placeholder="Editeur" id="ajouter_manuel_editeur">
                    </div>
                    <div class="three wide field">
                        <label>Année d'édition</label>
                        <input type="text" placeholder="Année" id="ajouter_manuel_annee">
                    </div>
                </div>
                <button class="ui button" type="submit">Ajouter</button>
                <button id="annuler_ajouter_manuel" class="ui basic button">Annuler</button>
            </form>
        </p>
    </div>
    <br>
    <a class="ui ribbon label">Exporter les manuels</a>
    <p>
        <a href="/export/manuel"><button class="ui button"><i class="download icon"></i>Exporter</button></a>
    </p>
    <a class="ui ribbon label">Importer des manuels</a>
    <p>
        <form class="ui form" enctype="multipart/form-data" method="post" action="/import/manuel">
            <div class="four wide field">
                <input type="file" accept=".csv" name="csv" required>
            </div>
            <button type="submit" class="ui button"><i class="upload icon"></i>Importer</button>
        </form>
    </p>
</div>
<div class="ui bottom attached tab segment" data-tab="parametres">
    <a class="ui ribbon label">Gestion des frais</a>
    <p>
        <form class="ui form" id="form_taux">
            <div class="fields">
                <div class="four wide field">
                    <label>Frais de dossier (%)</label>
                    <input type="number" step="0.01" placeholder="Frais de dossier (%)" id="frais_dossier" required>
                </div>
                <div class="four wide field">
                    <label>Frais d'envoi (€)</label>
                    <input type="number" step="0.01" placeholder="Frais d'envoi (€)" id="frais_envoi" required>
                </div>
                <div class=" wide field">
                    <input type="submit" class="ui button" value="Valider" style="margin-top: 22px">
                </div>
            </div>
        </form>
    </p>
    <a class="ui ribbon label">Etats des livres</a>
    <p>
        <p id="liste_etats"></p>
        <button id="button_ajouter_etat" class="ui button"><i class="add icon"></i>Ajouter un état</button>
    </p>
    <div id="ajouter_etat" style="display:none; margin-bottom: 15px;">
        <a class="ui ribbon label">Ajouter un état</a>
        <p>
            <form class="ui form" id="form_ajouter_etat">
                <div class="fields">
                    <div class="two wide field">
                        <label>ID état</label>
                        <input type="text" placeholder="ID état" id="ajouter_etat_id">
                    </div>
                    <div class="five wide field">
                        <label>Libellé</label>
                        <input type="text" placeholder="Libellé" id="ajouter_etat_libelle">
                    </div>
                    <div class="three wide field">
                        <label>Pourcentage</label>
                        <input type="text" placeholder="Pourcentage" id="ajouter_etat_pourcentage">
                    </div>
                </div>
                <button class="ui button" type="submit">Ajouter</button>
                <button class="ui basic button" id="button_annuler_ajouter_etat">Annuler</button>
            </form>
        </p>
    </div>
    <a class="ui ribbon label">Modes de paiment</a>
    <p>
        <p id="liste_mode_paiement"></p>
        <button id="button_ajouter_mode_paiement" class="ui button"><i class="add icon"></i>Ajouter un mode de paiement</button>
    </p>
    <div id="ajouter_mode_paiement" style="display:none;">
        <a class="ui ribbon label">Ajouter un mode de paiement</a>
        <p>
            <form class="ui form" id="form_ajouter_mode_paiement">
                <div class="fields">
                    <div class="two wide field">
                        <label>ID mode</label>
                        <input type="text" placeholder="ID mode" id="ajouter_mode_paiement_id">
                    </div>
                    <div class="five wide field">
                        <label>Libellé</label>
                        <input type="text" placeholder="Libellé" id="ajouter_mode_paiement_libelle">
                    </div>
                </div>
                <button class="ui button" type="submit">Ajouter</button>
                <button class="ui basic button" id="button_annuler_ajouter_mode_paiement">Annuler</button>
            </form>
        </p>
    </div>
</div>


<!-- Modals -->
<div class="ui modal" id="modal_erreur">
    <i class="close icon"></i>
    <div class="header">
        Erreur !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<div class="ui modal" id="modal_succes">
    <i class="close icon"></i>
    <div class="header">
        Succès !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<script type="text/javascript" src="/styles/js/admin.js"></script>

{% endblock %}