{% extends 'main.html.twig' %}
{% set titre = 'Enfant' %}
{% block main_content %}
<div id="enfant">
    <a href="/famille/{{enfant.id_famille}}"><button class="huge ui basic button" style="background: #fff !important">Retour famille</button></a>
    <div class="ui raised segment" id="modifier_enfant" data-id="{{enfant.id}}" data-fam="{{enfant.id_famille}}">
        <a class="ui ribbon label">Modifier l'enfant</a>
        <p>
            <form class="ui form" id="form_modifier_enfant">
                <div class="fields">
                    <div class="five wide field">
                        <label>Nom</label>
                        <input type="text" placeholder="Nom" id="modifier_nom" value="{{enfant.nom}}">
                    </div>
                    <div class="five wide field">
                        <label>Prénom</label>
                        <input type="text" placeholder="Prénom" id="modifier_prenom" value="{{enfant.prenom}}">
                    </div>
                    <div class="five wide field">
                        <label>Classe</label>
                        <input type="text" placeholder="Classe" id="modifier_classe" value="{{enfant.classe}}">
                    </div>
                </div>
                <button class="ui button" type="submit">Modifier</button>
            </form>
        </p>
    </div>

    <div class="ui raised segment" id="supprimer_enfant">
        <a class="ui ribbon label">Supprimer l'enfant</a>
        <p>
            <button class="ui button" id="button_supprimer_enfant"><i class="remove user icon"></i> Supprimer</button>
        </p>
    </div>
</div>

<!-- Modals -->
<div class="ui modal" id="modal_erreur">
    <i class="close icon"></i>
    <div class="header">
        Erreur !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<div class="ui modal" id="modal_confirm_supprimer">
    <i class="close icon"></i>
    <div class="header">
        Suppression de l'enfant
    </div>
    <div class="content">
        Confirmer la suppression de l'enfant ?
    </div>
    <div class="actions">
        <div class="ui cancel button">Annuler</div>
        <button type="submit" class="ui ok red button">Supprimer</button>
    </div>
</div>

<div class="ui modal" id="modal_succes">
    <i class="close icon"></i>
    <div class="header">
        Succès !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<script type="text/javascript" src="/styles/js/enfant.js"></script>
{% endblock %}