<!DOCTYPE html>
<head>
    <title>Récépissé d'achat</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/recepisse.css">
</head>

<body>
    {% if error %}
        {{error}}
    {% else %}
        <img id="logo" src="/styles/img/fcpe.png" alt="">
        <div id="header">
            {{header}}
            <br>
            <strong>- Récépissé d'achat -</strong>
        </div>

        <div id="coordonnees_famille">
            Numéro de dossier : {{famille.id}}
            <br><br>
            {{famille.nom}} {{famille.prenom_resp}}
            <br>
            {{famille.adresse}} {{famille.cp}} {{famille.ville}}
            <br>
            {{famille.tel}}
        </div>
        <table>
            <thead>
                <tr>
                    <th>Code exemplaire</th>
                    <th>Titre</th>
                    <th>État</th>
                    <th>Enfant</th>
                </tr>
            </thead>
            <tbody>
                {% for achat in achats %}
                    <tr>
                        <td>{{achat.id}}</td>
                        <td>{{achat.titre}}</td>
                        <td>{{achat.etat}}</td>
                        <td>{{achat.enfant}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        Livres achetés : {{nb_livre}}
        <br>
        <div id="montants">
            Montant des achats : {{montants.total}} €
            <br>
            Frais de dossier : {{montants.frais}} €
            <br>
            Montant des paiements : {{montants.paiement}} €
            <br><br>
            <strong>Montant restant à payer : {{montants.restant}} €</strong>
        </div>
        <div id="footer">
            {{footer}}
        </div>
    {% endif %}
</body>
</html>