<!DOCTYPE html>
<head>
    <title>Récépissé de dépôt</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/recepisse.css">
</head>

<body>
    {% if error %}
        {{error}}
    {% else %}
        <img id="logo" src="/styles/img/fcpe.png" alt="">
        <div id="header">
            {{header}}
            <br>
            <strong>- Récépissé de depôt -</strong>
        </div>

        <div id="coordonnees_famille">
            Numéro de dossier : {{famille.id}}
            <br><br>
            {{famille.nom}} {{famille.prenom_resp}}
            <br>
            {{famille.adresse}} {{famille.cp}} {{famille.ville}}
            <br>
            {{famille.tel}}
        </div>

        <table>
            <thead>
                <tr>
                    <th>Code exemplaire</th>
                    <th>Titre</th>
                    <th>État</th>
                    <th>Enfant</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for depot in depots %}
                    <tr>
                        <td>{{depot.id}}</td>
                        <td>{{depot.titre}}</td>
                        <td>{{depot.etat}}</td>
                        <td>{{depot.enfant}}</td>
                        <td>{{depot.actuel}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        Livres en dépôt : {{nb_livre}}

        <div id="footer">
            {{footer}}
        </div>
    {% endif %}
</body>
</html>