{% extends 'main.html.twig' %}
{% set titre = 'Import' %}
{% block main_content %}
{% if error %}
	<div style="margin-top: 50px; text-align:center; font-size: 150%; color: red;">
		{{message}}
	</div>
{% else %}
	<div style="margin-top: 50px; text-align:center; font-size: 150%; color: green;">
		{{message}}
	</div>
{% endif %}
{% endblock %}