/* line 1, ../scss/recepisse.scss */
body {
  width: 768px;
  margin: auto;
  font-family: arial;
}

/* line 7, ../scss/recepisse.scss */
#logo {
  width: auto;
  height: 100px;
}

/* line 12, ../scss/recepisse.scss */
#header {
  text-align: center;
  font-size: 30px;
  margin-top: -80px;
}

/* line 18, ../scss/recepisse.scss */
#footer {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}

/* line 24, ../scss/recepisse.scss */
#coordonnees_famille {
  border: 1px solid #000;
  margin-top: 20px;
  padding: 5px;
}

/* line 30, ../scss/recepisse.scss */
#montants {
  border: 1px solid #000;
  margin-top: 20px;
  padding: 5px;
  margin-left: 500px;
}

/* line 37, ../scss/recepisse.scss */
table {
  width: 100%;
  margin-top: 30px;
}

/* line 42, ../scss/recepisse.scss */
th {
  text-align: left;
}
